{
	"notifications":{
						"host"      : "",
						"port"      : "",
						"receivers" : ["",""],
						"cc"        : ["",""],
						"bcc"       : ["",""]

					},

	"logger":{
				"use"        : "True",
				"max_size"   : "50000000",
				"level"      : "debug"
			},

	"hosts":{
				"host_1": {
							"socket":{
										"max_connection": 5,
										"host"          : "127.0.0.0",
										"port"          : "8000"
									 }

						},

				"host_2": {
							"socket":{
										"max_connection": 5,
										"host"          : "127.0.0.0",
										"port"          : "8001"
									 }

						}
			}

}